@page
@model CapstoneProjectCustomerListWebApp.Pages.CustomerList.UpdateInsertModel
<br />
<h2 class="text-info">@(Model.Customer.Id!=0? "Edit":"Create") Customer</h2>
<br />

<div class="border container" style="padding: 30px;">
    <form method="post">
        @if (Model.Customer.Id != 0)
        {
            <input type="hidden" asp-for="Customer.Id"/>

        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Customer.CustomerName"></label>
            </div>
            <div class="col-4">
                <input asp-for="Customer.CustomerName" class="form-control"/>
            </div>
            @*error validation*@
            <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Customer.TimeSpan"></label>
            </div>
            <div class="col-4">
                <input asp-for="Customer.TimeSpan" class="form-control"/>
            </div>
            @*Not showing up. Come back to it. *@
            <span asp-validation-for="Customer.TimeSpan" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Customer.TimeStamp"></label>
            </div>
            <div class="col-4">
                <input asp-for="Customer.TimeStamp" class="form-control"/>
            </div>
            <span asp-validation-for="Customer.TimeStamp" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2 offset-3">
                @*If not null, then disp update, else create*@
                <button type="submit" class="btn btn-primary form-control">@(Model.Customer.Id != 0 ? "Update" : "Create")</button>
            </div>
            @*this is not expanding out as it should*@
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-group">Back to List</a>
            </div>

        </div>
    </form>
</div>


