@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="/css/site.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <img src="img/shabelgroupMID.jpg" alt="shabelGroupMainLogo" width="800" height="auto" asp-append-version="true" />
</div>

